.tile-container{
    width: 150px;
    height: 60px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: rgb(255,255,255,60%);
    transition: 0.6s;
    horiz-align: center;
    vertical-align: center;

}
.tile-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    animation: ease-out;
    background-color: rgb(255,255,255,100%);
}


.banner-container{
    overflow: hidden;
    height: 50px;
}

.tilesBox{
    display: grid;
    margin: auto;
    place-content: flex-start;
    grid-row-start: initial;
    box-shadow: 0px 0px 15px -5px;
    background-color: rgb(255,255,255,10%);
    flex-direction: column;
    gap: 6px;
    vertical-align: center;
    padding: 6px;}